  <div class="jumbotron">

    <h1 class="title">WE WANT YOU</h1>
    <p class="slogan">在这里
    <br>
    精彩人生由你书写
    <br>

    </p>
    <p class="lead"><a class="btn btn-lg btn-success" href="/jobs">点我马上有工作 -></a></p>
  </div>

  <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fc6qgy2vpsj303k03k3y9.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>上海外滩SOHO</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fc6qhvi07mj303k03kdfl.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>we@wantyou.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fc6qim7wlvj303k03kgld.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>021-1314000</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
