
  <div class="box bg-1">
    <h1>44 years ago we put a man on the moon, .</h1>
    <p>yet we still can’t vertically centre things in CSS</p>
    <p class="lead"><a class="btn btn-lg btn-default" href="/jobs">Apply Now</a></p>
  </div>



<div class="box bg-2" >
  <p>ill can’t vertically centre things in CSS.</p>
</div>

<div class="box bg-3" >
  <h1>I'm Yours</h1>
  <p>Yes you are.</p>
</div>
