/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome

 * #DaftPunKonsole
 * Malik Dellidj - @Dathink
 *
 * There are existing apps or flash to do this, but no web version so here it is.
 *
 * How to play :
 * You may notice that in the song all theses words are used
 * but sometimes in a different layout
 * e.g.
 * – Work it, make it, do it, makes us
 * – Harder, better, faster, stronger
 * –––
 * – Work it, harder, make it, better
 * – Do it, faster, makes us, stronger
 *
 * Check the lyrics ! and the different tones to recreate over half of the song !
 *
 * Many thanks to my work mates who helped me when I was stuck
 *
 * Nb : Hey IE fellaz, get a browser : www.google.com/chrome, it's free !

 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 @import url('https://fonts.googleapis.com/css?family=Noto+Serif');

 h1, p {
   font-family: 'Noto Serif', serif;
   text-align: center;
   text-shadow: 0 0 10px rgba(0,0,0,0.3);
 }

p {
  font-size: 2rem;
}

.box {
  background-image: url(#);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 250px;

}

.bg-1 {
  background-color: #f5f6f7;
}

.bg-2 {
  background-color: #ffff00;
}

.bg-3 {
  background-color: #e9cae8;
}

.navbar {
  margin-bottom: 0;
}


.lead {
  margin-bottom: 60px;
  text-align: center;
  color: white;
}

.footer-box {
  margin-top: 30px;
  font-size: 1rem;
}
