<!-- Footer -->
<footer class="footer-box" >
  <p class="text-center">Copyright ©2017 WE WANT YOU
      <br>Design by <a href="http://mengjunguo.logdown.com/pages/about-me" target="_blank">Mengjun Guo</a>
  </p>
</footer>
